.feedbackBtn {
    border: 1px #afafaf solid;
    background: transparent;
    width: 48%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #afafaf;
    text-transform: uppercase;
    margin-top: .8rem;
    border-radius: 3px;
}

.greatSelected {
    background: #0378d8; 
    width: 48%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    text-transform: uppercase;
    margin-top: .8rem;
    border-radius: 3px;
}

.badSelected {
    background: #f40054; 
    width: 48%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
    text-transform: uppercase;
    margin-top: .8rem;
    border-radius: 3px;
}