.reviewTotal {
    border: 1px rgba(175, 175, 175, .5) solid;
    border-radius: 5px;
    padding: 2rem;
    /* margin-top: 3rem; */
    /* width: 60%; */
    display: inline-block;
    /* color: lightgray; */
    /* box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /* height: 45vh; */
}

